{% extends 'base.html.twig' %}

{# templates/product/index.html.twig #}
{% block body %}
    <div id="app"></div>
{% endblock %}

{# block for javascripts links #}
{% block javascripts %}
    {{ parent() }}

    <script>
        {% if currentCategoryId is defined %}
        // set current category IRI from controller
        window.currentCategoryId = '{{ currentCategoryId|e('js') }}';
        {% else %}
        // no category means homepage (all products)
        window.currentCategoryId = null;
        {% endif %}

        window.categories = {{ categories|jsonld }}; // expose categories to Vue

    </script>

    {{ encore_entry_script_tags('products') }}
{% endblock %}

{# block for styles links #}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('products') }}
{% endblock %}
